.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.075);
	background-color: var(--input);
	color: var(--text);
}

h1 {
	color: var(--text);
}

.navbar .container {
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

.icon p {
	margin-left: 10px;
}
